*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    max-width: 1440px;
    min-width: 375px;
    color:hsl(192, 100%, 9%);;
}

.section1{
    background: url("../images/bg-hero-desktop.svg") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover; /*Firefox*/
    -webkit-background-size: cover; /*Mozilla*/
    -o-background-size: cover; /*Opera*/
    background-color: hsl(193, 100%, 96%);
    padding: 20px 80px 40px 80px;
}

header{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.logo1{
    display:flex;
    flex-direction: start;
}
.logo1 img{
    width:50%;
}

.boton a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none; 
    font-size: 14px;
    font-weight: 700;   
    border-radius: 40px;    
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.164);
}

.boton1{
    display:flex;
    justify-content: flex-end;
}

.boton1 a{
    background-color:white;
    color:hsl(192, 100%, 9%);
    width: 20%;
    height: 45px;
}

.boton1 a:hover { 
    background-color: hsl(322, 100%, 66%); 
    color:white;
}

.boton2 a{
    background-color:hsl(322, 100%, 66%);
    color:hsl(193, 100%, 96%);
    width: 50%;
    height: 50px
}

.boton2 a:hover { 
    background-color:white;
    color:hsl(192, 100%, 9%);
}

.description{
    display:flex;
    flex-direction: column;  
    margin-top: 40px;
    
}

.fila1{
    padding-top:25px;
    
}

.fila h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.fila2{
    padding-top:25px;
    
}

.fila3{
    padding-top:25px;
    
}

.mockups{
    display:flex;
    justify-content: center;
    margin-top: 40px;
    
}

.mockups img{ 
    width:80%;
}

.section2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px 400px 40px;
}

.card1{
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0 rgba(0, 0.164, 0.164, 0.164);    
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
    padding:50px 20px 50px 20px;
}

.textcard1{
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:flex-start;
    
}
.txt1{
    margin-left:50px; 
    
}

.txt2{
    margin-left:50px;
    padding-top:20px;
    
}

.imgcard1{
    display: flex;
    justify-content: center;
    
}

.imgcard1 img{
    width:50%;
}

.section3{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 700px;
    padding: 20px 40px 20px 40px;  
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0 rgba(0, 0.164, 0.164, 0.164);    
    z-index:1;
    background-color:white;
}

.titulo{
    font-family: 'Poppins';
}

.boton3{
    display:flex;
    justify-content: center;
    
    margin: 20px 0px 20px 0px;
}

footer{
    background: hsl(192, 100%, 9%);
    color:white;
    width:1440px;
    font-size: 13px;  
    margin-top: 150px;
    position: relative; 
    z-index: -1;
}

.logo{
    display:flex;
    flex-direction: start;
    padding:120px 0px 20px 80px;
}
.logo img{
    width:50%;
    
}

.bloque2{
    display:flex;
    justify-content: center;
    margin-left: 80px;
}

.contenedorfinal1{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
}

.contenedorfinal2{
    display:flex;
    justify-content: flex-start;   
}
.contenedorfinal3{
    display:flex;
    justify-content: flex-start;
    
}
.contenedorfinal4{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top:15px;
}

.cfinal1{
    margin-top:10px;
}
.nav{
    display: flex;
    flex-direction: column;
    line-height: 200%;
}
.nav a{
    text-decoration: none;
    color:white;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.redes a{
    text-decoration: none;
    border-radius: 50%;
    border: solid 1px white;
    color:white;
    overflow:hidden; 
    margin:0px 8px 0px 8px;
}

.redes a span{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px; 
       
    
}
.derechos{
    margin:40px 0px 40px 0px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }